@model Emp_Models.Skill

@{
    ViewData["Title"] = "DeleteSkill";
}
<style>
    dl.row.details {
        margin: 0 auto;
        max-width: 500px;
        padding-top: 50px;
        -webkit-box-shadow: 0 0 0 0 rgba(90, 113, 208, 0.11), 0 4px 16px 0 rgba(167, 175, 183, 0.33);
    }

</style>

<h4 class="text-center">Delete Skill</h4>

<dl class="row details p-4 mt-5">
    <dt class="col-sm-6">
        @Html.DisplayNameFor(model => model.Id)
    </dt>
    <dd class="col-sm-6">
        @Html.DisplayFor(model => model.Id)
    </dd>
    <dt class="col-sm-6">
        @Html.DisplayNameFor(model => model.SkillName)
    </dt>
    <dd class="col-sm-6">
        @Html.DisplayFor(model => model.SkillName)
    </dd>
    <dt class="col-sm-6">
        @Html.DisplayNameFor(model => model.SkillDescription)
    </dt>
    <dd class="col-sm-6">
        @Html.DisplayFor(model => model.SkillDescription)
    </dd>
    <dt class="col-sm-6">
        @Html.DisplayNameFor(model => model.CreatedDate)
    </dt>
    <dd class="col-sm-6">
        @Html.DisplayFor(model => model.CreatedDate)
    </dd>
    <dt class="col-sm-6">
        @Html.DisplayNameFor(model => model.LastModifiedDate)
    </dt>
    <dd class="col-sm-6">
        @Html.DisplayFor(model => model.LastModifiedDate)
    </dd>
    <form asp-action="Delete" method="post">
        <input type="submit" value="Delete" class="btn btn-danger mt-2 mb-2" /><br />
        <input type="hidden" value="@Model.Id" name="Id" />
        <a asp-action="Index">Back to List</a>
    </form>
</dl>
<br />


