@model Emp_Models.Employee

@{
    ViewData["Title"] = "EmployeeDetails";
}

<div>
    <h4>Details of Employee</h4>

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmpId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmpId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmpFirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmpFirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EmpLastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EmpLastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.HiredDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.HiredDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Skills) <br />
        </dt>
       
        @foreach (var skill in Model.Skills)
        {
            <dd class="col-sm-10">
               <li> @skill.SkillName</li>
            </dd>
        }
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
